.card-img {
    padding: 1.25rem 1.25rem 0 1.25rem;
}

.card-text {
    font-size: .7rem;
    min-height: 40px;
}

.card-circle {
    height: 20px;
    width: 20px;
    padding: 3px 7px;
    font-size: .7rem;
}
