<div class="container container-signbox mt-5">

    <h1>Personal</h1>
    <p>¿Qué deseas consultar?</p>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-2">
            <div class="card">
                <!--Card image-->
                <div class="card-img">
                    <img src="../../../assets/img/icon_1.png" alt="" height="60">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Recibos <span class="card-circle rounded-circle orange darken-1 text-white">1</span></h5>
                    <p class="card-text">Puedes visualizar tus recibos de sueldos y firmarlos mes a mes.</p>
                    <!-- <a class="card-link">Card link</a> -->
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-2">
            <div class="card">
                <!--Card image-->
                <div class="card-img">
                    <img src="../../../assets/img/icon_1.png" alt="" height="60">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Vacaciones</h5>
                    <p class="card-text">No tienes nada planificado</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-2">
            <div class="card">
                <!--Card image-->
                <div class="card-img">
                    <img src="../../../assets/img/icon_4.png" alt="" height="60">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Gastos y viáticos</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-2">
            <div class="card">
                <!--Card image-->
                <div class="card-img">
                    <img src="../../../assets/img/icon_4.png" alt="" height="60">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Solicitudes <span class="card-circle rounded-circle orange darken-1 text-white">4</span></h5>
                    <p class="card-text">Tienes solicitudes activas</p>
                </div>
            </div>
        </div>
    </div>


</div>
