/* You can add global styles to this file, and also import other style files */

html {
    // background-color: rgb(45, 50, 178);
}

.bg-blue {
    background-color: rgb(45, 50, 178);
    height: 30%;
}

.bg-white {
    background-color: #FFF;
    height: 70%;
}
