<footer class="page-footer font-small white border-top">
    <div class="row no-gutters footer-h">
        <div class="col-6 col-sm-8 offset-sm-1 col-md-8 offset-md-1 pt-3 footer-font">
            © 2019 Sign Box
        </div>
        <div class="col-1 col-sm-1 col-md-1 pt-3 footer-font">
            Ayuda
        </div>
        <div class="col-5 col-sm-2 col-md-2 pt-3 footer-font">
            Sobre SignBox
        </div>
    </div>


    <!-- <div class="footer-copyright text-left py-3">© 2019 Sign Box
        <a href="https://mdbootstrap.com/education/angular/"> </a>
    </div>

    <div class="footer-copyright text-right py-3">Ayuda
        <a href="https://mdbootstrap.com/education/angular/"> </a>
    </div> -->
</footer>
